<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sachin.sms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Admin.admin_singin" />
        <activity android:name=".Admin.admin_signup" />
        <activity android:name=".Student.student_signin" />
        <activity android:name=".Admin.admin_menu" />
        <activity android:name=".Admin.studnent_details.view_all" />
        <activity android:name=".Admin.studnent_details.add_stud" />
        <activity android:name=".Admin.studnent_details.Update_main" />
        <activity android:name=".Admin.studnent_details.update.edit_basic_info"></activity>
    </application>

</manifest>